<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center">
                ID
              </th>
              <th class="text-center">
                Type de machine
              </th>
              <th class="text-center">
                Modele
              </th>
              <th class="text-center">
                Date début
              </th>
              <th class="text-center">
                Date de fin
              </th>
              <th class="text-center">
                Localisation
              </th>
              <th class="text-center">
                Etat
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  1
                </td>
                <td class="text-center">
                  Moissonneuse
                </td>
                <td class="text-center">
                  04-582-750
                </td>
                <td class="text-center">
                  01/12/2019
                </td>
                <td class="text-center">
                  04/12/209
                </td>
                <td class="text-center">

                </td>
                <td class="text-center alert alert-primary">
                  Libre
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>