<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/champs.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/gerard.jpg" alt="...">
            <h5 class="title">{{ userService.user.nom }} {{ userService.user.prenom }}</h5>
          </a>
          <p class="description">
            @{{userService.user.pseudo}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Modifier mon profil</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>GAEC</label>
                <input type="text" class="form-control" placeholder="Nom du GAEC" value="">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Pseudo</label>
                <input type="text" class="form-control" placeholder="Pseudo" value="">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1"> Adresse mail</label>
                <input type="email" class="form-control" placeholder="Email" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" placeholder="Prenom" value="">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Nom de famille</label>
                <input type="text" class="form-control" placeholder="Nom de famille" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Adresse de l'exploitation</label>
                <input type="text" class="form-control" placeholder="Adresse de l'exploitation" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ville</label>
                <input type="text" class="form-control" placeholder="Ville" value="">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Code postal</label>
                <input type="number" class="form-control" placeholder="Code postal">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Pays</label>
                <input type="text" class="form-control" placeholder="Pays" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Mettre à jour le profil</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>